////////////////////////////////////////////
// Fonts                                  //
////////////////////////////////////////////
$gdprcst-font-family-title: 'Helvetica Neue', helvetica, arial, sans-serif !default;
$gdprcst-font-family-text: 'Helvetica Neue', helvetica, arial, sans-serif !default;

/////////////////////////////////////////////
// Colors                                  //
/////////////////////////////////////////////
$gdprcst-color-light: #fff !default;
$gdprcst-color-dark: #333 !default;
$gdprcst-color-mid: #c83e2c !default;
$gdprcst-shadow-color: rgb(0 0 0 / 25%) !default;
