/////////////////////////////////////////////
// Bandeau                               //
/////////////////////////////////////////////
#tarteaucitron-root {
	#tarteaucitron-alert-big {
		background: $color-mid;
		box-sizing: border-box;
		color: $color-light;
		display: none;
		left: 0;
		margin: auto;
		padding: 8% 0;
		position: fixed;
		text-align: left;
		width: 100%;
		z-index: 2147483645;
	}

	#tarteaucitron-wrapper {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

#tarteaucitron-alert-big {
	strong,
	a {
		color: $color-light;
	}

	#tarteaucitron-site-disclaimer-title {
		color: $color-light;
		display: block;
		font-family: $font-family-title;
		font-size: .9rem;
		font-style: italic;
		font-weight: 600;
		line-height: 1;
		margin-bottom: 5%;
		text-align: center;
	}

	#tarteaucitron-disclaimer-texte {
		font-size: .9rem;
		line-height: 1.2em;
		text-align: center;
		width: 80%;
	}

	#tarteaucitron-site-disclaimer-message,
	#tarteaucitron-disclaimer-alert {

		&,
		a,
		i,
		strong {
			color: $color-light;
			font-family: $font-family-text;
			font-weight: 400;
		}

		a {
			text-decoration: underline;
		}

		i {
			font-style: italic;
		}

		strong {
			font-weight: 700;
		}
	}

	#tarteaucitron-disclaimer-buttons {
		display: flex;
		justify-content: space-between;
		margin-top: 5%;
		width: 80%;
	}

	#tarteaucitron-close-alert,
	#tarteaucitron-personalize {
		background-color: $color-light;
		color: $color-mid;
		cursor: pointer;
		font-size: .8rem;
		opacity: .75;
		padding: 3%;
		text-transform: uppercase;
		transition: opacity .45s ease;

		&:hover {
			opacity: 1;
		}
	}
}

.tarteaucitron-alert-big-bottom {
	bottom: 0;
}

@media screen and (min-device-width: 660px) and (orientation: landscape) {
	#tarteaucitron-root {
		#tarteaucitron-alert-big {
			padding: 5%;
		}

		#tarteaucitron-wrapper {
			align-items: space-between;
			flex-direction: row;
		}
	}

	#tarteaucitron-alert-big {
		#tarteaucitron-disclaimer-texte {
			font-size: .9rem;
			max-width: 750px;
			text-align: left;
			width: 60%;
		}

		#tarteaucitron-disclaimer-buttons {
			display: flex;
			flex-direction: column;
			margin-top: 0;
			width: inherit;
		}

		#tarteaucitron-site-disclaimer-title {
			margin-bottom: 5%;
			text-align: left;
		}

		#tarteaucitron-close-alert,
		#tarteaucitron-personalize {
			font-size: .8rem;
			padding: 5%;
		}

		#tarteaucitron-personalize {
			margin-bottom: 10%;
		}
	}
}

@media screen and (min-device-width: 728px) {
	#tarteaucitron-root {
		#tarteaucitron-alert-big {
			padding: 4% 10%;
		}
	}

	#tarteaucitron-alert-big {
		#tarteaucitron-site-disclaimer-title {
			font-size: 1.2rem;
		}

		#tarteaucitron-disclaimer-texte {
			font-size: 1.1rem;
			line-height: 1.3em;
		}

		#tarteaucitron-disclaimer-texte,
		#tarteaucitron-disclaimer-buttons {
			width: 100%;
		}

		#tarteaucitron-disclaimer-buttons {
			justify-content: space-around;
			margin-top: 5%;
		}

		#tarteaucitron-close-alert,
		#tarteaucitron-personalize {
			font-size: 1rem;
			padding: 3% 4%;
		}
	}
}

@media screen and (min-device-width: 1024px) {
	#tarteaucitron-root {
		#tarteaucitron-alert-big {
			padding: 3%;
		}

		#tarteaucitron-wrapper {
			align-items: space-between;
			flex-direction: row;
		}
	}

	#tarteaucitron-alert-big {
		#tarteaucitron-disclaimer-texte {
			font-size: 1rem;
			max-width: 750px;
			text-align: left;
			width: 60%;
		}

		#tarteaucitron-disclaimer-buttons {
			align-self: flex-end;
			flex-direction: row;
			flex-grow: 1;
			justify-content: flex-end;
			margin-top: 0;
			width: inherit;
		}

		#tarteaucitron-site-disclaimer-title {
			font-size: 1.1rem;
			margin-bottom: 20px;
			text-align: left;
		}

		#tarteaucitron-close-alert,
		#tarteaucitron-personalize {
			font-size: .8rem;
			padding: 3% 4%;
		}

		#tarteaucitron-personalize {
			margin-bottom: 0;
			margin-right: 5%;
		}
	}
}

@media screen and (min-device-width: 1224px) {
	#tarteaucitron-root {
		#tarteaucitron-alert-big {
			padding: 2% 3%;
		}
	}

	#tarteaucitron-alert-big {
		#tarteaucitron-disclaimer-texte {
			line-height: 1.4em;
		}

		#tarteaucitron-site-disclaimer-title {
			font-size: 1.2rem;
			margin-bottom: 2%;
		}

		#tarteaucitron-close-alert,
		#tarteaucitron-personalize {
			font-size: .9rem;
			padding: 2%;
		}

		#tarteaucitron-personalize {
			margin-right: 8%;
		}
	}
}