////////////////////////////////////////////
// Fonts                                  //
////////////////////////////////////////////
$font-family-title: "Archer SSm A", "Archer SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-text: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;

/////////////////////////////////////////////
// Colors                                  //
/////////////////////////////////////////////
$color-light: #fff;
$color-dark: #414141;
$color-mid: #c83e2c;
$shadow-color: rgba(87, 87, 87, 0.25);
