////////////////////////////////////////////
// Fonts                                  //
////////////////////////////////////////////
$font-family-title: 'Archer SSm A', 'Archer SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-text: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/////////////////////////////////////////////
// Colors                                  //
/////////////////////////////////////////////
$color-light: #fff;
$color-dark: #414141;
$color-mid: #c83e2c;

$shadow-color: rgba(87, 87, 87, .25);
$color-personalize: #f3df93;

$background-color-white: #fff;
$background-color-dark: #c83e2c;
$text-color-white: #fff;
$text-color-dark: #414141;
$text-color-buttons: #000;
$scrollbar-color-track: #000;
$scrollbar-color-thumb: #708090;
$scrollbar-background-color-thumb: #ddd;
$color-allowed: #46d12c;
$color-denied: #fa481c;
$color-pending: #717171;
$border-color-dark: #c83e2c;