/////////////////////////////////////////////
// Colors                                  //
/////////////////////////////////////////////
$background-color-dark: #c83e2c;
$text-color-white: #fff;
$color-1: rgb(66, 66, 66);
$color-2: #fff;
$color-3: #333;
$color-4: #555;
$color-5: #8b0000;
$font-family-1: sans-serif;
$background-color-1: #ddd;
$background-color-2: #1b870b;
$background-color-3: #9c1a1a;
$background-color-4: #808080;
$background-color-5: #fbda26;
$border-color-1: #1b870b;
$border-color-2: #9c1a1a;
$border-color-3: #555;

/////////////////////////////////////////////
// Global                                  //
/////////////////////////////////////////////
.modal-open {
	height: 100%;
	overflow: hidden;
}

#content-wrapper {
	display: unset;
}

/////////////////////////////////////////////
// Reset CSS                               //
/////////////////////////////////////////////
#tarteaucitron-root {
	div,
	span,
	applet,
	object,
	iframe,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	blockquote,
	pre,
	a,
	abbr,
	acronym,
	address,
	big,
	cite,
	code,
	del,
	dfn,
	em,
	img,
	ins,
	kbd,
	q,
	s,
	samp,
	small,
	strike,
	strong,
	sub,
	sup,
	tt,
	var,
	b,
	u,
	i,
	center,
	dl,
	dt,
	dd,
	ol,
	ul,
	li,
	fieldset,
	form,
	label,
	legend,
	table,
	caption,
	tbody,
	tfoot,
	thead,
	tr,
	th,
	td,
	article,
	aside,
	canvas,
	details,
	embed,
	figure,
	figcaption,
	footer,
	header,
	hgroup,
	menu,
	nav,
	output,
	ruby,
	section,
	summary,
	time,
	mark,
	audio,
	video {
		border: 0;
		font: inherit;
		font-size: 100%;
		margin: 0;
		padding: 0;
		text-align: initial;
		text-shadow: initial;
		vertical-align: baseline;
	}

	blockquote,
	q {
		quotes: none;

		&::before {
			content: none;
		}

		&::after {
			content: none;
		}
	}

	ol,
	ul {
		list-style: none;
	}

	table {

		border-collapse: collapse;
		border-spacing: 0;
	}

	article,
	aside,
	details,
	figure,
	figcaption,
	footer,
	header,
	hgroup,
	menu,
	nav,
	section {
		display: block;
	}
}

/////////////////////////////////////////////
// Better scroll management                //
/////////////////////////////////////////////
#tarteaucitron-main-line-offset {
	margin-top: 0 !important;
}

#tarteaucitron-services {
	box-shadow: 0 0 35px #575757;
	margin-top: 21px !important;

	// sass-lint:disable no-vendor-prefixes
	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
	}

	&::-webkit-scrollbar-thumb {
		background-color: $background-color-1;
		outline: 0 solid #708090;
	}
	// sass-lint:enable no-vendor-prefixes
}

/////////////////////////////////////////////
// Responsive layout for the control panel //
/////////////////////////////////////////////
@media screen and (max-width: 479px) {
	#tarteaucitron {
		.tarteaucitron-line {
			.tarteaucitron-name {
				width: 90% !important;
			}

			.tarteaucitron-ask {
				float: left !important;
				margin: 10px 15px 5px;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	#tarteaucitron {
		background: #fff;
		border: 0 !important;
		bottom: 0 !important;
		height: 100% !important;
		left: 0 !important;
		margin: 0 !important;
		max-height: 100% !important;
		max-width: 100% !important;
		top: 0 !important;
		width: 100% !important;

		.tarteaucitron-border {
			border: 0 !important;
		}

		#tarteaucitron-services {
			.tarteaucitron-title {
				text-align: left !important;
			}

			.tarteaucitron-line {
				.tarteaucitron-ask {
					text-align: center !important;

					button {
						margin-bottom: 5px;
					}
				}
			}
		}
	}

	.tarteaucitron-name {
		.tarteaucitron-h2 {
			max-width: 80%;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	#tarteaucitron {
		border: 0 !important;
		left: 0 !important;
		margin: 0 5% !important;
		max-height: 80% !important;
		width: 90% !important;
	}
}

/////////////////////////////////////////////
// Common value                            //
/////////////////////////////////////////////
#tarteaucitron {
	* {
		zoom: 1;
	}

	.clear {
		clear: both;
	}

	a {
		color: $color-1;
		font-size: 11px;
		font-weight: 700;
		text-decoration: none;
	}

	strong {
		font-size: 22px;
		font-weight: 500;
	}

	ul {
		padding: 0;
	}

	.tarteaucitron-h1,
	.tarteaucitron-h2,
	.tarteaucitron-h3,
	.tarteaucitron-h4,
	.tarteaucitron-h5,
	.tarteaucitron-h6 {
		display: block;
	}

	.tarteaucitron-h3 {
		font-size: 18px;
	}
}

#tarteaucitron-root {
	div {
		&#tarteaucitron {
			left: 0;
			margin: auto;
			right: 0;
		}
	}

	button {
		&#tarteaucitron-back {
			background: #eee;
		}
	}

	button {
		background: transparent;
		border: 0;
	}
}

#tarteaucitron-alert-big {
	strong,
	a {
		color: $text-color-white;
	}
}

.cookie-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

/////////////////////////////////////////////
// Root div added just before </body>      //
/////////////////////////////////////////////
#tarteaucitron-root {
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;

	* {
		box-sizing: initial;
		color: $color-3;
		font-family: $font-family-1 !important;
		font-size: 14px;
		line-height: normal;
		vertical-align: initial;
	}

	.tarteaucitron-h1 {
		color: $text-color-white;
		font-size: 1.5em;
		margin: 15px 0 28px;
		text-align: center;
	}

	.tarteaucitron-h2 {
		color: $text-color-white;
		display: inline-block;
		margin: 12px 0 0 10px;
	}

	button {
		background: transparent;
		border: 0;
	}
}

/////////////////////////////////////////////
// Control panel                           //
/////////////////////////////////////////////
#tarteaucitron-back {
	background: #fff;
	display: none;
	height: 100%;
	left: 0;
	opacity: .7;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2147483646;
}

#tarteaucitron {
	display: none;
	left: 50%;
	margin: 0 auto 0 -430px;
	max-height: 80%;
	padding: 0;
	position: fixed;
	top: 6%;
	width: 860px;
	z-index: 2147483647;

	.tarteaucitron-border {
		background: #fff;
		border: 2px solid #333;
		border-top: 0;
		height: auto;
		overflow: auto;
	}

	#tarteaucitron-close-panel {
		background: #333;
		color: $text-color-white;
		cursor: pointer;
		font-size: 12px;
		font-weight: 700;
		text-decoration: none;
		padding: 4px 0;
		position: absolute;
		right: 0;
		text-align: center;
		width: 70px;
	}

	#tarteaucitron-disclaimer {
		color: $color-4;
		font-size: 12px;
		margin: 15px auto 0;
		width: 80%;
	}

	#tarteaucitron-services {
		.tarteaucitron-hidden {
			background: rgba(51, 51, 51, .07);
			display: none;
			position: relative;
		}
	}
}

#tarteaucitron {
	#tarteaucitron-services {
		.tarteaucitron-title {
			button {
				color: $text-color-white;
				display: inline-block;
				font-size: 14px;
				font-weight: 700;
				margin: 20px 0px 0px;
				padding: 5px 20px;
				text-align: left;
				width: auto;
				background: #333;
			}

			a {
				color: $text-color-white;
				font-weight: 500;
				font-size: 14px;

				&::hover {
					text-decoration: none !important;
				}
			}
		}

		.tarteaucitron-details {
			color: $text-color-white;
			display: inline-block;
			font-size: 14px;
			font-weight: 700;
			margin: 20px 0px 0px;
			padding: 5px 20px;
			text-align: left;
			width: auto;
			background: #333;
			color: $text-color-white;
			display: none;
			font-size: 12px;
			font-weight: 500;
			margin-top: 0;
			max-width: 270px;
			padding: 20px;
			position: absolute;
			z-index: 2147483647;
		}

		.tarteaucitron-main-line {
			background: #333;
			border: 3px solid #333;
			border-left: 9px solid #333;
			border-top: 5px solid #333;
			margin-bottom: 0;
			margin-top: 21px;
			position: relative;

			.tarteaucitron-name {
				margin-left: 15px;
				margin-top: 2px;

				a {
					color: $text-color-white;
					font-size: 22px;
					font-weight: 500;

					&:hover {
						text-decoration: none !important;
					}
				}

				button {
					color: $text-color-white;
				}
			}

			&:hover {
				background: #333;
			}

			.tarteaucitron-ask {
				margin-top: 0px !important;
			}
		}

		.tarteaucitron-line {
			background: rgba(51, 51, 51, .1);
			border-left: 5px solid transparent;
			margin: 0;
			overflow: hidden;
			padding: 15px 5px;

			&:hover {
				background: rgba(51, 51, 51, .2);
			}

			.tarteaucitron-name {
				float: left;
				margin-left: 10px;
				text-align: left;
				width: 50%;

				a {
					&:hover {
						text-decoration: underline;
					}
				}

				.tarteaucitron-list-cookies {
					color: $color-3;
					font-size: 12px;
				}
			}

			.tarteaucitron-ask {
				float: right;
				margin: 7px 15px 0;
				text-align: right;

				.tarteaucitron-allow {
					background: gray;
					border-radius: 4px;
					color: $text-color-white;
					cursor: pointer;
					display: inline-block;
					padding: 6px 10px;
					text-align: center;
					text-decoration: none;
					width: auto;
					border: 0;
				}

				.tarteaucitron-deny {
					background: gray;
					border-radius: 4px;
					color: $text-color-white;
					cursor: pointer;
					display: inline-block;
					padding: 6px 10px;
					text-align: center;
					text-decoration: none;
					width: auto;
					border: 0;
				}
			}
		}

		.tarteaucitron-line.tarteaucitron-is-allowed {
			border-color: $border-color-1;

			.tarteaucitron-allow {
				background-color: $background-color-2;
			}
		}

		.tarteaucitron-line.tarteaucitron-is-denied {
			border-color: $border-color-2;

			.tarteaucitron-deny {
				background-color: $background-color-3;
			}
		}
	}

	#tarteaucitron-info {
		color: $text-color-white;
		display: inline-block;
		font-size: 14px;
		font-weight: 700;
		margin: 20px 0px 0px;
		padding: 5px 20px;
		text-align: left;
		width: auto;
		background: #333;
		color: $text-color-white;
		display: none;
		font-size: 12px;
		font-weight: 500;
		margin-top: 0;
		max-width: 270px;
		padding: 20px;
		position: absolute;
		z-index: 2147483647;

		a {
			color: $text-color-white;
			text-decoration: underline;
		}
	}

	#tarteaucitron-main-line-offset {
		.tarteaucitron-name {
			width: auto !important;
			margin-left: 0 !important;
			font-size: 14px;
		}
	}
}

/////////////////////////////////////////////
// Big alert                               //
/////////////////////////////////////////////
#tarteaucitron-root {
	#tarteaucitron-alert-big {
		background: $background-color-dark;
		color: $text-color-white;
		display: none;
		font-size: 15px !important;
		left: 0;
		position: fixed;
		box-sizing: content-box;
		z-index: 2147483645;
		text-align: center;
		padding: 10px 0 10px 0;
		margin: auto;
		width: 100%;
	}

	.tarteaucitron-deny {
		background: #008300;
		color: $text-color-white;
		cursor: pointer;
		display: inline-block;
		font-size: 16px !important;
		line-height: 1.2;
		padding: 5px 10px;
		text-decoration: none;
		margin-left: 7px;
		background: #9C1A1A;
	}
}

#tarteaucitron-alert-big {
	#tarteaucitron-disclaimer-alert {
		font: 15px verdana;
		color: $text-color-white;

		strong {
			font: 15px verdana;
			color: $text-color-white;
			font-weight: 700;
		}
	}

	#tarteaucitron-close-alert {
		background: #fff;
		color: $color-3;
		cursor: pointer;
		display: inline-block;
		font-size: 16px !important;
		line-height: 1.2;
		padding: 5px 10px;
		text-decoration: none;
		margin-left: 7px;
		margin-bottom: 3px;
	}

	#tarteaucitron-personalize {
		background: #008300;
		color: $text-color-white;
		cursor: pointer;
		display: inline-block;
		font-size: 16px !important;
		line-height: 1.2;
		padding: 5px 10px;
		text-decoration: none;
		margin-left: 7px;
	}
}

.tarteaucitron-alert-big-bottom {
	bottom: 0;
}

#tarteaucitron-percentage {
	background: #0A0 !important;
	box-shadow: 0 0 2px #fff, 0 1px 2px #555;
	height: 5px;
	left: 0;
	position: fixed;
	width: 0;
	z-index: 2147483644;
}

/////////////////////////////////////////////
// CSS for services                        //
/////////////////////////////////////////////
div#tarteaucitron-info {
	display: block !important;
	position: relative !important;
	text-align: center !important;
	max-width: 80% !important;
	padding: 15px 0 !important;
	margin: -10px auto 40px !important;
	font-size: 1em !important;
	border-bottom: 1px solid;
	border-top: 1px solid;
	border-color: $border-color-3;
}

.tarteaucitron-is-allowed {
	.tarteaucitron-deny {
		opacity: 0.4 !important;
	}

	.tarteaucitron-allow {
		opacity: 1 !important;
	}
}

.tarteaucitron-is-denied {
	.tarteaucitron-allow {
		opacity: 0.4 !important;
	}

	.tarteaucitron-deny {
		opacity: 1 !important;
	}
}

.tarteaucitron-line {
	.tarteaucitron-allow {
		opacity: 0.4;
	}

	.tarteaucitron-deny {
		opacity: 0.4;
	}
}

.tarteaucitron-main-line {
	.tarteaucitron-h2 {
		font-size: 1.2em !important;
		margin-top: 4px !important;
	}
}

span.tarteaucitron-title.tarteaucitron-h3 {
	margin-top: 12px !important;
}