name: QC Checks

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read
  pull-requests: write

jobs:
  checks:
    name: QC Checks
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - run: corepack enable
      - name: Use Node.js 24
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: "24.12.0"
          package-manager-cache: false

      - name: Install
        run: |
          yarn config set enableImmutableInstalls false
          yarn install

      - name: ESLint checks
        run: npm run eslint-check

      - name: Stylelint checks
        run: npm run stylelint-check

      - name: Prettier checks
        run: npm run prettier-check
